img {
	width: 50px;
}
table {

	border-collapse: collapse;
	border: 1px solid black;
	padding: 0px;
	margin: auto;
	border-spacing: 0px 0px 0px 0px;
	transition: transform 1s linear;
}
table:hover {
	transform: rotate3d(2, 1, -0.3, 60deg);
}
td {
	border: 1px solid black;
	padding: 0px;
	text-align: center;
}
.first-col, .last-col {
	font-weight: bold;
	width: 25px;
	border: 0px;
}
.last-col, th {
	transform: rotate(180deg);
}
.last-line {
	font-weight: bold;
}
th, .last-line {
	height: 25px;
	border: 1px solid black
	border-left: 0px;
}
.last-line td {
	border: 0px;
}
.first-col td {
	border-bottom: 0px;
}